<!DOCTYPE html>
<html>
<head>
  <title>Página Inicial</title>
  <link rel="stylesheet" href="./css/homepage.css">
</head>
<body>
    <main>
        <nav class="instagram-navbar">
            <div class="logo-container">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png" alt="Logo do Instagram">
            </div>
            <ul class="list-navbar">
              <li class="li-homepage"><strong>Página Inicial</strong></li>
              <li class="li-search">Pesquisa</li>
              <li class="li-explore">Explorar</li>
              <li class="li-reels">Reels</li>
              <li class="li-messages">Mensagens</li>  
              <li class="li-profile">Perfil</li>
              <li class="li-more">Mais</li>
            </ul>
          </nav>
    </main>
</body>
</html>