<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/Reel.css">
    <title>Feed</title>
</head>

<body>
    <nav id="sidebar">
        <div id="logo-container">
            <img id="logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png"
                alt="Instagram" />
        </div>
        <ul id="sidebar-list">
            <li><img id="img-list-home" src="../assets/web-house.png" alt="Home" />Página Inicial</li>
            <li><img id="img-list-search" src="../assets/search.png">Explorar</li>
            <li><img id="img-list-reels" src="../assets/play.png">Reels</li>
            <li><img id="img-list-messages" src="../assets/text-message.png" />Mensagens</li>
            <li><img id="img-list-profile" src="../assets/img_profile.png">Perfil</li>
        </ul>
    </nav>

    <hr id="line-separator">
    
    <main id="content-section">


    </main>
</body>

</html>
