<!DOCTYPE html>
<html>
<head>
    <meta charset="=UTF-8">
    <meta name="viewport" content="=width=device-width, initial-scale=1,0">
    <title>Página do Reels</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <div class="logo"> 
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png" alt="logo do instagram">
        </div>

        <div class="search"> 
            <input type="text" placeholder="Pesquisar">
        </div>
            
        <div class="perfil">
            <img src="perfil.png" alt="foto perfil">
>           <span>Zé da manga</span>
        </div>
    </header>

    <main> 
        <div class="page-container">
            <div class="navbar">
                
            </div>
                

            <div class="reels-container">
                <div class="reel"> 
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Canis_lupus_familiaris_Gda%C5%84sk.JPG" alt="dog">
                </div>   
                <div class="reel">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Netzgiraffe_%28Giraffa_camelopardalis_reticulata%29_Tierpark_Hellabrunn-23.jpg" alt="girafa">
                </div>  
                <div class="reel">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Elephant_running.jpg" alt="elefante">
                </div>     
            </div>
        </div>
    </main>   
    
</body>
</html>
