body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

header{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    left: 50%;
    margin-top: 10px;
}

.logo img{
    height: 30px;
}

.search imput{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px;
    width: 200px;
}
 .perfil img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
 }

.reels-container{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1, 1fr));
    grid-gap: 10px ;
    padding: 20px;
    margin: 0px 0px;
    position: absolute;
    left: 50%;   
    margin-top: 30px; 
}

.page-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
    
    
}

.reel img{
    width:50%;
    height: 700px;
    object-fit: cover;
    border-radius: 5px;
    align-items: center;
}

.reel {
    border: 0px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;

}

.navbar{
    background-color: aqua;
    width: 200px;
    height: 700px;
    object-fit: cover;
    border-radius: 5px;
    align-items: center;
    position: absolute;
    left: 41%;
    margin-top: 58px;
}
