* {
    box-sizing: border-box;
  }

html {
    height: 100%;
}
  
body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    height: 100%;
    overflow: auto;
  }

a {
    text-decoration: none;
    color: inherit;
}

/* SIDEBAR */

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
}

#logo-container {
    margin: 30px 20px;
    width: 30%;
}

#logo {
    width: 100%;
    display: inline-block;
}

#sidebar-list {
    margin: 10px 20px;
    padding: 0;
    list-style: none;
}

#sidebar-list li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#sidebar-list li img {
    width: 30px;
    margin: 10px;
}

#img-list-profile {
    border-radius: 50%;
}

/* SECTION SEPARATOR */

#line-separator {
    position: fixed;

    left: 300px;
    height: 100%;

    margin: 0;
    padding: 0;
}

