:root {
    --button: #0095f6;
    --secondary-text: #737373;
    --line-stroke: #bfbfbf;
}

* {
    box-sizing: border-box;
    margin: 0;
    /* overflow-x: hidden !important; */
}

.body-section {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    overflow: hidden !important;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    margin-left: 1rem;
    border: none;
    outline: none;
}

.message-picture {
    width: 3rem;
    margin-right: 1rem;
}

main {
    z-index: 1;
}

main aside {
    padding: 2rem 1rem;
    border-right: 1px solid var(--line-stroke);
}

main,
.head,
.head section,
.title-request {
    display: flex;
}

#content-section {
    margin-left: 5rem;
    display: flex;
    /* padding: 0 1.5rem; */
    width: 25rem;
    /* border-inline: 1px solid var(--line-stroke); */
}

.message-chat {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.name-status {
    display: flex;
    flex-direction: column;
}

.head,
.title-request {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.title-request h5,
.new-chat p {
    color: var(--secondary-text);
}

.head h1 {
    font-size: 1.25rem;
}

.new-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.new-chat h3 {
    font-weight: normal;
}

.messenger-chat-icon {
    font-size: 3rem;
}

.new-chat p {
    margin: 1rem 0;
}

.messenger-border {
    padding: 1.5rem;
    border: 3px solid #121212;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.send-message-button {
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--button);
}

.new-chat-messages {
    width: 90.5rem;
    /* display: flex; */
}

.chat {
    display: flex;
    flex-direction: column;
    width: 95.5rem;
}

.chat-message {
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    max-width: 80ch;
    font-size: 1rem;
    overflow: hidden;
}

.chat-message.you {
    color: #ffffff;
    background-color: #0095f6;
    align-self: flex-end;
}

.chat-message.friend {
    background-color: #efefef;
    align-self: flex-start;
}

.chat-head,
.chat-profile,
.chat-message-box,
.message-input {
    display: flex;
    align-items: center;
}

.chat-head,
.main-chat,
.chat-foot {
    padding: 1rem;
}

.chat-head,
.chat-message-box {
    justify-content: space-between;
}

.main-chat-father {
    height: 56.375rem;
    border-top: 1px solid var(--line-stroke);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.main-chat {
    height: fit-content;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.chat-foot {
    width: 89rem;
    margin: 1rem 1rem;
    border-radius: 2rem;
    border: 1px solid var(--line-stroke);
}

.message-input {
    font-size: 1.5rem;
    width: 80rem;
}

.send-button {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    color:#0095f6;
}

.send-button:hover {
    color:#003d66;
}